.card-img-top {
    max-width: 600px !important;
    height: 350px !important;
    margin-top: 17px;
    margin-left: 17px;
  }
  
  .imagen-estudio {
    background-color: #ffffff;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .card-body h2 {
font-size: 28px;
  }

  .text-muted {
    font-size: 13px;
  }