@media screen and (max-width:768px) {

    /*Home*/

    .header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo img{
        max-width: 150px;
        max-height: 40px;
    }

    a{
        font-size: 7px;
    }

    .portada{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .portada p{
        position: absolute;
        text-align: center;
        margin: 5px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 10px;
    }

    .pieDePagina{
        display: flex;
        align-items: center;
        justify-content: right;
    }

    .pieDePagina img{
        width: 4px;
        height: 4px;
        margin-right: 2px;
        margin-left: 2px;
    }

    .pieDePagina p{
        padding-right: 2px;
        font-size: 10px;
    }

    /*El estudio*/

    .card-body{
        font-size: 14px;
    }

    .imagen-estudio img{
        width: 100vw;
        height: 50px;
        margin-left: 0;
    }

    /*Servicios*/

    .servicios{
        display: flex;
        flex-direction: column;
        font-size: 12px;
    }
    
    .servicios-cards{
        margin-top: 20px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }
    
    /*Nuestros trabajos*/

    .galeria{
        display: flex;
        flex-direction: column;
        grid-template-columns: 100%;
        grid-gap: 4px;
    }

    /*Nos conocemos*/

    .nos-conocemos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h4{
        font-size: 18px;
        padding: 5px;
    }
    
    .form-container{
        width: 100vw;
        padding: 10px;
    }
    
    .form-container p{
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .mapa{
        width: 100vw;
    }

    .mapa iframe{
        width: 90%;
    }
}