.galeria {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr (3);
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
    grid-gap: 8px;
  }
  
  .galeria h2 {
    position: absolute;
    color: #ffffff;
    padding: 10px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Karla', sans-serif;
  }
  
  .galeria img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  
  .uno {
    grid-row: span 2;
    grid-column: span 2;
  }
  
  .seis {
    grid-row: span 2;
  }
  
  .siete {
    grid-column: 2 span;
  }
  
  .ocho {
    grid-column: 3 span;
    grid-row: 2 span;
  }

  .uno h2 {
    color: #fff;
    line-height: 100%;
    background: rgba(0, 0, 0, 0.50);
    transition: opacity .3s linear;
    cursor: pointer;  
    opacity: 0;
  }
  
  .uno:hover h2 {
    opacity: .85;  
  }

  .dos h2 {
    color: #fff;
    line-height: 100%;
    background: rgba(0, 0, 0, 0.50);
    transition: opacity .3s linear;
    cursor: pointer;  
    opacity: 0;
  }
  
  .dos:hover h2 {
    opacity: .85;  
  }

  .tres h2 {
    color: #fff;
    line-height: 100%;
    background: rgba(0, 0, 0, 0.50);
    transition: opacity .3s linear;
    cursor: pointer;  
    opacity: 0;
  }
  
  .tres:hover h2 {
    opacity: .85;  
  }

  .cuatro h2 {
    color: #fff;
    line-height: 100%;
    background: rgba(0, 0, 0, 0.50);
    transition: opacity .3s linear;
    cursor: pointer;  
    opacity: 0;
  }
  
  .cuatro:hover h2 {
    opacity: .85;  
  }

  .cinco h2 {
    color: #fff;
    line-height: 100%;
    background: rgba(0, 0, 0, 0.50);
    transition: opacity .3s linear;
    cursor: pointer;  
    opacity: 0;
  }
  
  .cinco:hover h2 {
    opacity: .85;  
  }

  .seis h2 {
    color: #fff;
    line-height: 100%;
    background: rgba(0, 0, 0, 0.50);
    transition: opacity .3s linear;
    cursor: pointer;  
    opacity: 0;
  }
  
  .seis:hover h2 {
    opacity: .85;  
  }

  .siete h2 {
    color: #fff;
    line-height: 100%;
    background: rgba(0, 0, 0, 0.50);
    transition: opacity .3s linear;
    cursor: pointer;  
    opacity: 0;
  }
  
  .siete:hover h2 {
    opacity: .85;  
  }

  .ocho h2 {
    color: #fff;
    line-height: 100%;
    background: rgba(0, 0, 0, 0.50);
    transition: opacity .3s linear;
    cursor: pointer;  
    opacity: 0;
  }
  
  .ocho:hover h2 {
    opacity: .85;  
  }